@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto');

body { font-family: 'Roboto', sans-serif; }
h1, h2, h3 {
  font-family: 'Open Sans Condensed';
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  border-radius: 3px;
}
.remark-inline-code {
  background-color: #ddd;
  padding: 1px 3px;
  font-size: 80%;
}
.inverse {
  background-color: #222;
  color: #fff;
}
.center {
  text-align: center;
}
.middle {
  vertical-align: middle;
}
